<!DOCTYPE html>

<html>


<head>
    <link rel="stylesheet" href="login.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0" >
    
    <title>Login</title>

</head>



<body>

<script src="login.js"></script>

<header>
    <div id="header">
         <p id="header_text">name name</p>

         <p id="header_text">other other</p>
        
    </div>

</header>



<form action="/ADD_THIS_LATER_INVALID">
    <input type="textu" id="username" placeholder="Username...">

    <input type="password" id="password" class="textp" placeholder="Password    |   then press Enter...">









</form>


</body>




































</html>